body{
    background: #0F292F;
    font-family:Arial, Helvetica, sans-serif;
}

.assignments{

}

.assignment{
    display:flex;
    padding:10px;
    margin:10px;
    margin-bottom: 20px;
    background:#501F3A;
    border-radius:5px;
    box-shadow: 6px 6px #14a099a9;
}

.assignment img{
    width:200px;
    border:3px solid #14A098;
    margin-right: 20px;
    border-radius:5px;
}

h1{
    color: #14A098;
    text-align:center;
}

p{
    color: #CCCCCC;
}

a {
    text-decoration: none;
    color: #CB2D6F;
}

.assignment a:hover{
    color: #14A098;
}